<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>countryCode</key>
		<string>JM</string>
		<key>defaultCountryName</key>
		<string>Jamaica</string>
		<key>phoneCode</key>
		<string>1876</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KN</string>
		<key>defaultCountryName</key>
		<string>Saint Kitts &amp; Nevis</string>
		<key>phoneCode</key>
		<string>1869</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TT</string>
		<key>defaultCountryName</key>
		<string>Trinidad &amp; Tobago</string>
		<key>phoneCode</key>
		<string>1868</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>VC</string>
		<key>defaultCountryName</key>
		<string>Saint Vincent &amp; the Grenadines</string>
		<key>phoneCode</key>
		<string>1784</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>DM</string>
		<key>defaultCountryName</key>
		<string>Dominica</string>
		<key>phoneCode</key>
		<string>1767</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LC</string>
		<key>defaultCountryName</key>
		<string>Saint Lucia</string>
		<key>phoneCode</key>
		<string>1758</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SX</string>
		<key>defaultCountryName</key>
		<string>Sint Maarten</string>
		<key>phoneCode</key>
		<string>1721</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AS</string>
		<key>defaultCountryName</key>
		<string>American Samoa</string>
		<key>phoneCode</key>
		<string>1684</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GU</string>
		<key>defaultCountryName</key>
		<string>Guam</string>
		<key>phoneCode</key>
		<string>1671</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MP</string>
		<key>defaultCountryName</key>
		<string>Northern Mariana Islands</string>
		<key>phoneCode</key>
		<string>1670</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MS</string>
		<key>defaultCountryName</key>
		<string>Montserrat</string>
		<key>phoneCode</key>
		<string>1664</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TC</string>
		<key>defaultCountryName</key>
		<string>Turks &amp; Caicos Islands</string>
		<key>phoneCode</key>
		<string>1649</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GD</string>
		<key>defaultCountryName</key>
		<string>Grenada</string>
		<key>phoneCode</key>
		<string>1473</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BM</string>
		<key>defaultCountryName</key>
		<string>Bermuda</string>
		<key>phoneCode</key>
		<string>1441</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KY</string>
		<key>defaultCountryName</key>
		<string>Cayman Islands</string>
		<key>phoneCode</key>
		<string>1345</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>VI</string>
		<key>defaultCountryName</key>
		<string>US Virgin Islands</string>
		<key>phoneCode</key>
		<string>1340</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>VG</string>
		<key>defaultCountryName</key>
		<string>British Virgin Islands</string>
		<key>phoneCode</key>
		<string>1284</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AG</string>
		<key>defaultCountryName</key>
		<string>Antigua &amp; Barbuda</string>
		<key>phoneCode</key>
		<string>1268</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AI</string>
		<key>defaultCountryName</key>
		<string>Anguilla</string>
		<key>phoneCode</key>
		<string>1264</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BB</string>
		<key>defaultCountryName</key>
		<string>Barbados</string>
		<key>phoneCode</key>
		<string>1246</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BS</string>
		<key>defaultCountryName</key>
		<string>Bahamas</string>
		<key>phoneCode</key>
		<string>1242</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>UZ</string>
		<key>defaultCountryName</key>
		<string>Uzbekistan</string>
		<key>phoneCode</key>
		<string>998</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KG</string>
		<key>defaultCountryName</key>
		<string>Kyrgyzstan</string>
		<key>phoneCode</key>
		<string>996</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GE</string>
		<key>defaultCountryName</key>
		<string>Georgia</string>
		<key>phoneCode</key>
		<string>995</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AZ</string>
		<key>defaultCountryName</key>
		<string>Azerbaijan</string>
		<key>phoneCode</key>
		<string>994</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TM</string>
		<key>defaultCountryName</key>
		<string>Turkmenistan</string>
		<key>phoneCode</key>
		<string>993</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TJ</string>
		<key>defaultCountryName</key>
		<string>Tajikistan</string>
		<key>phoneCode</key>
		<string>992</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NP</string>
		<key>defaultCountryName</key>
		<string>Nepal</string>
		<key>phoneCode</key>
		<string>977</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MN</string>
		<key>defaultCountryName</key>
		<string>Mongolia</string>
		<key>phoneCode</key>
		<string>976</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BT</string>
		<key>defaultCountryName</key>
		<string>Bhutan</string>
		<key>phoneCode</key>
		<string>975</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>QA</string>
		<key>defaultCountryName</key>
		<string>Qatar</string>
		<key>phoneCode</key>
		<string>974</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BH</string>
		<key>defaultCountryName</key>
		<string>Bahrain</string>
		<key>phoneCode</key>
		<string>973</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IL</string>
		<key>defaultCountryName</key>
		<string>Israel</string>
		<key>phoneCode</key>
		<string>972</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AE</string>
		<key>defaultCountryName</key>
		<string>United Arab Emirates</string>
		<key>phoneCode</key>
		<string>971</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PS</string>
		<key>defaultCountryName</key>
		<string>Palestine</string>
		<key>phoneCode</key>
		<string>970</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>OM</string>
		<key>defaultCountryName</key>
		<string>Oman</string>
		<key>phoneCode</key>
		<string>968</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>YE</string>
		<key>defaultCountryName</key>
		<string>Yemen</string>
		<key>phoneCode</key>
		<string>967</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SA</string>
		<key>defaultCountryName</key>
		<string>Saudi Arabia</string>
		<key>phoneCode</key>
		<string>966</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KW</string>
		<key>defaultCountryName</key>
		<string>Kuwait</string>
		<key>phoneCode</key>
		<string>965</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IQ</string>
		<key>defaultCountryName</key>
		<string>Iraq</string>
		<key>phoneCode</key>
		<string>964</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SY</string>
		<key>defaultCountryName</key>
		<string>Syrian Arab Republic</string>
		<key>phoneCode</key>
		<string>963</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>JO</string>
		<key>defaultCountryName</key>
		<string>Jordan</string>
		<key>phoneCode</key>
		<string>962</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LB</string>
		<key>defaultCountryName</key>
		<string>Lebanon</string>
		<key>phoneCode</key>
		<string>961</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MV</string>
		<key>defaultCountryName</key>
		<string>Maldives</string>
		<key>phoneCode</key>
		<string>960</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TW</string>
		<key>defaultCountryName</key>
		<string>Taiwan</string>
		<key>phoneCode</key>
		<string>886</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BD</string>
		<key>defaultCountryName</key>
		<string>Bangladesh</string>
		<key>phoneCode</key>
		<string>880</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LA</string>
		<key>defaultCountryName</key>
		<string>Laos</string>
		<key>phoneCode</key>
		<string>856</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KH</string>
		<key>defaultCountryName</key>
		<string>Cambodia</string>
		<key>phoneCode</key>
		<string>855</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MO</string>
		<key>defaultCountryName</key>
		<string>Macau</string>
		<key>phoneCode</key>
		<string>853</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>HK</string>
		<key>defaultCountryName</key>
		<string>Hong Kong</string>
		<key>phoneCode</key>
		<string>852</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KP</string>
		<key>defaultCountryName</key>
		<string>North Korea</string>
		<key>phoneCode</key>
		<string>850</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MH</string>
		<key>defaultCountryName</key>
		<string>Marshall Islands</string>
		<key>phoneCode</key>
		<string>692</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>FM</string>
		<key>defaultCountryName</key>
		<string>Micronesia</string>
		<key>phoneCode</key>
		<string>691</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TK</string>
		<key>defaultCountryName</key>
		<string>Tokelau</string>
		<key>phoneCode</key>
		<string>690</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PF</string>
		<key>defaultCountryName</key>
		<string>French Polynesia</string>
		<key>phoneCode</key>
		<string>689</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TV</string>
		<key>defaultCountryName</key>
		<string>Tuvalu</string>
		<key>phoneCode</key>
		<string>688</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NC</string>
		<key>defaultCountryName</key>
		<string>New Caledonia</string>
		<key>phoneCode</key>
		<string>687</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KI</string>
		<key>defaultCountryName</key>
		<string>Kiribati</string>
		<key>phoneCode</key>
		<string>686</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>WS</string>
		<key>defaultCountryName</key>
		<string>Samoa</string>
		<key>phoneCode</key>
		<string>685</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NU</string>
		<key>defaultCountryName</key>
		<string>Niue</string>
		<key>phoneCode</key>
		<string>683</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CK</string>
		<key>defaultCountryName</key>
		<string>Cook Islands</string>
		<key>phoneCode</key>
		<string>682</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>WF</string>
		<key>defaultCountryName</key>
		<string>Wallis &amp; Futuna</string>
		<key>phoneCode</key>
		<string>681</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PW</string>
		<key>defaultCountryName</key>
		<string>Palau</string>
		<key>phoneCode</key>
		<string>680</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>FJ</string>
		<key>defaultCountryName</key>
		<string>Fiji</string>
		<key>phoneCode</key>
		<string>679</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>VU</string>
		<key>defaultCountryName</key>
		<string>Vanuatu</string>
		<key>phoneCode</key>
		<string>678</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SB</string>
		<key>defaultCountryName</key>
		<string>Solomon Islands</string>
		<key>phoneCode</key>
		<string>677</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TO</string>
		<key>defaultCountryName</key>
		<string>Tonga</string>
		<key>phoneCode</key>
		<string>676</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PG</string>
		<key>defaultCountryName</key>
		<string>Papua New Guinea</string>
		<key>phoneCode</key>
		<string>675</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NR</string>
		<key>defaultCountryName</key>
		<string>Nauru</string>
		<key>phoneCode</key>
		<string>674</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BN</string>
		<key>defaultCountryName</key>
		<string>Brunei Darussalam</string>
		<key>phoneCode</key>
		<string>673</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NF</string>
		<key>defaultCountryName</key>
		<string>Norfolk Island</string>
		<key>phoneCode</key>
		<string>672</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TL</string>
		<key>defaultCountryName</key>
		<string>Timor-Leste</string>
		<key>phoneCode</key>
		<string>670</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BQ</string>
		<key>defaultCountryName</key>
		<string>Bonaire, Sint Eustatius &amp; Saba</string>
		<key>phoneCode</key>
		<string>599</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CW</string>
		<key>defaultCountryName</key>
		<string>Curaçao</string>
		<key>phoneCode</key>
		<string>599</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>UY</string>
		<key>defaultCountryName</key>
		<string>Uruguay</string>
		<key>phoneCode</key>
		<string>598</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SR</string>
		<key>defaultCountryName</key>
		<string>Suriname</string>
		<key>phoneCode</key>
		<string>597</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MQ</string>
		<key>defaultCountryName</key>
		<string>Martinique</string>
		<key>phoneCode</key>
		<string>596</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PY</string>
		<key>defaultCountryName</key>
		<string>Paraguay</string>
		<key>phoneCode</key>
		<string>595</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GF</string>
		<key>defaultCountryName</key>
		<string>French Guiana</string>
		<key>phoneCode</key>
		<string>594</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>EC</string>
		<key>defaultCountryName</key>
		<string>Ecuador</string>
		<key>phoneCode</key>
		<string>593</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GY</string>
		<key>defaultCountryName</key>
		<string>Guyana</string>
		<key>phoneCode</key>
		<string>592</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BO</string>
		<key>defaultCountryName</key>
		<string>Bolivia</string>
		<key>phoneCode</key>
		<string>591</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GP</string>
		<key>defaultCountryName</key>
		<string>Guadeloupe</string>
		<key>phoneCode</key>
		<string>590</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>HT</string>
		<key>defaultCountryName</key>
		<string>Haiti</string>
		<key>phoneCode</key>
		<string>509</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PM</string>
		<key>defaultCountryName</key>
		<string>Saint Pierre &amp; Miquelon</string>
		<key>phoneCode</key>
		<string>508</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PA</string>
		<key>defaultCountryName</key>
		<string>Panama</string>
		<key>phoneCode</key>
		<string>507</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CR</string>
		<key>defaultCountryName</key>
		<string>Costa Rica</string>
		<key>phoneCode</key>
		<string>506</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NI</string>
		<key>defaultCountryName</key>
		<string>Nicaragua</string>
		<key>phoneCode</key>
		<string>505</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>HN</string>
		<key>defaultCountryName</key>
		<string>Honduras</string>
		<key>phoneCode</key>
		<string>504</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SV</string>
		<key>defaultCountryName</key>
		<string>El Salvador</string>
		<key>phoneCode</key>
		<string>503</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GT</string>
		<key>defaultCountryName</key>
		<string>Guatemala</string>
		<key>phoneCode</key>
		<string>502</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BZ</string>
		<key>defaultCountryName</key>
		<string>Belize</string>
		<key>phoneCode</key>
		<string>501</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>FK</string>
		<key>defaultCountryName</key>
		<string>Falkland Islands</string>
		<key>phoneCode</key>
		<string>500</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LI</string>
		<key>defaultCountryName</key>
		<string>Liechtenstein</string>
		<key>phoneCode</key>
		<string>423</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SK</string>
		<key>defaultCountryName</key>
		<string>Slovakia</string>
		<key>phoneCode</key>
		<string>421</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CZ</string>
		<key>defaultCountryName</key>
		<string>Czech Republic</string>
		<key>phoneCode</key>
		<string>420</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>XK</string>
		<key>defaultCountryName</key>
		<string>Kosovo</string>
		<key>phoneCode</key>
		<string>383</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MK</string>
		<key>defaultCountryName</key>
		<string>Macedonia</string>
		<key>phoneCode</key>
		<string>389</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BA</string>
		<key>defaultCountryName</key>
		<string>Bosnia &amp; Herzegovina</string>
		<key>phoneCode</key>
		<string>387</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SI</string>
		<key>defaultCountryName</key>
		<string>Slovenia</string>
		<key>phoneCode</key>
		<string>386</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>HR</string>
		<key>defaultCountryName</key>
		<string>Croatia</string>
		<key>phoneCode</key>
		<string>385</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ME</string>
		<key>defaultCountryName</key>
		<string>Montenegro</string>
		<key>phoneCode</key>
		<string>382</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>RS</string>
		<key>defaultCountryName</key>
		<string>Serbia</string>
		<key>phoneCode</key>
		<string>381</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>UA</string>
		<key>defaultCountryName</key>
		<string>Ukraine</string>
		<key>phoneCode</key>
		<string>380</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SM</string>
		<key>defaultCountryName</key>
		<string>San Marino</string>
		<key>phoneCode</key>
		<string>378</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MC</string>
		<key>defaultCountryName</key>
		<string>Monaco</string>
		<key>phoneCode</key>
		<string>377</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AD</string>
		<key>defaultCountryName</key>
		<string>Andorra</string>
		<key>phoneCode</key>
		<string>376</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BY</string>
		<key>defaultCountryName</key>
		<string>Belarus</string>
		<key>phoneCode</key>
		<string>375</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AM</string>
		<key>defaultCountryName</key>
		<string>Armenia</string>
		<key>phoneCode</key>
		<string>374</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MD</string>
		<key>defaultCountryName</key>
		<string>Moldova</string>
		<key>phoneCode</key>
		<string>373</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>EE</string>
		<key>defaultCountryName</key>
		<string>Estonia</string>
		<key>phoneCode</key>
		<string>372</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LV</string>
		<key>defaultCountryName</key>
		<string>Latvia</string>
		<key>phoneCode</key>
		<string>371</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LT</string>
		<key>defaultCountryName</key>
		<string>Lithuania</string>
		<key>phoneCode</key>
		<string>370</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BG</string>
		<key>defaultCountryName</key>
		<string>Bulgaria</string>
		<key>phoneCode</key>
		<string>359</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>FI</string>
		<key>defaultCountryName</key>
		<string>Finland</string>
		<key>phoneCode</key>
		<string>358</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CY</string>
		<key>defaultCountryName</key>
		<string>Cyprus</string>
		<key>phoneCode</key>
		<string>357</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MT</string>
		<key>defaultCountryName</key>
		<string>Malta</string>
		<key>phoneCode</key>
		<string>356</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AL</string>
		<key>defaultCountryName</key>
		<string>Albania</string>
		<key>phoneCode</key>
		<string>355</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IS</string>
		<key>defaultCountryName</key>
		<string>Iceland</string>
		<key>phoneCode</key>
		<string>354</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IE</string>
		<key>defaultCountryName</key>
		<string>Ireland</string>
		<key>phoneCode</key>
		<string>353</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LU</string>
		<key>defaultCountryName</key>
		<string>Luxembourg</string>
		<key>phoneCode</key>
		<string>352</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PT</string>
		<key>defaultCountryName</key>
		<string>Portugal</string>
		<key>phoneCode</key>
		<string>351</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GI</string>
		<key>defaultCountryName</key>
		<string>Gibraltar</string>
		<key>phoneCode</key>
		<string>350</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GL</string>
		<key>defaultCountryName</key>
		<string>Greenland</string>
		<key>phoneCode</key>
		<string>299</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>FO</string>
		<key>defaultCountryName</key>
		<string>Faroe Islands</string>
		<key>phoneCode</key>
		<string>298</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AW</string>
		<key>defaultCountryName</key>
		<string>Aruba</string>
		<key>phoneCode</key>
		<string>297</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ER</string>
		<key>defaultCountryName</key>
		<string>Eritrea</string>
		<key>phoneCode</key>
		<string>291</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SH</string>
		<key>defaultCountryName</key>
		<string>Saint Helena</string>
		<key>phoneCode</key>
		<string>290</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KM</string>
		<key>defaultCountryName</key>
		<string>Comoros</string>
		<key>phoneCode</key>
		<string>269</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SZ</string>
		<key>defaultCountryName</key>
		<string>Swaziland</string>
		<key>phoneCode</key>
		<string>268</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BW</string>
		<key>defaultCountryName</key>
		<string>Botswana</string>
		<key>phoneCode</key>
		<string>267</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LS</string>
		<key>defaultCountryName</key>
		<string>Lesotho</string>
		<key>phoneCode</key>
		<string>266</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MW</string>
		<key>defaultCountryName</key>
		<string>Malawi</string>
		<key>phoneCode</key>
		<string>265</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NA</string>
		<key>defaultCountryName</key>
		<string>Namibia</string>
		<key>phoneCode</key>
		<string>264</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ZW</string>
		<key>defaultCountryName</key>
		<string>Zimbabwe</string>
		<key>phoneCode</key>
		<string>263</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>RE</string>
		<key>defaultCountryName</key>
		<string>Réunion</string>
		<key>phoneCode</key>
		<string>262</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MG</string>
		<key>defaultCountryName</key>
		<string>Madagascar</string>
		<key>phoneCode</key>
		<string>261</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ZM</string>
		<key>defaultCountryName</key>
		<string>Zambia</string>
		<key>phoneCode</key>
		<string>260</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MZ</string>
		<key>defaultCountryName</key>
		<string>Mozambique</string>
		<key>phoneCode</key>
		<string>258</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BI</string>
		<key>defaultCountryName</key>
		<string>Burundi</string>
		<key>phoneCode</key>
		<string>257</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>UG</string>
		<key>defaultCountryName</key>
		<string>Uganda</string>
		<key>phoneCode</key>
		<string>256</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TZ</string>
		<key>defaultCountryName</key>
		<string>Tanzania</string>
		<key>phoneCode</key>
		<string>255</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KE</string>
		<key>defaultCountryName</key>
		<string>Kenya</string>
		<key>phoneCode</key>
		<string>254</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>DJ</string>
		<key>defaultCountryName</key>
		<string>Djibouti</string>
		<key>phoneCode</key>
		<string>253</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SO</string>
		<key>defaultCountryName</key>
		<string>Somalia</string>
		<key>phoneCode</key>
		<string>252</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ET</string>
		<key>defaultCountryName</key>
		<string>Ethiopia</string>
		<key>phoneCode</key>
		<string>251</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>RW</string>
		<key>defaultCountryName</key>
		<string>Rwanda</string>
		<key>phoneCode</key>
		<string>250</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SD</string>
		<key>defaultCountryName</key>
		<string>Sudan</string>
		<key>phoneCode</key>
		<string>249</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SC</string>
		<key>defaultCountryName</key>
		<string>Seychelles</string>
		<key>phoneCode</key>
		<string>248</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SH</string>
		<key>defaultCountryName</key>
		<string>Saint Helena</string>
		<key>phoneCode</key>
		<string>247</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IO</string>
		<key>defaultCountryName</key>
		<string>Diego Garcia</string>
		<key>phoneCode</key>
		<string>246</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GW</string>
		<key>defaultCountryName</key>
		<string>Guinea-Bissau</string>
		<key>phoneCode</key>
		<string>245</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AO</string>
		<key>defaultCountryName</key>
		<string>Angola</string>
		<key>phoneCode</key>
		<string>244</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CD</string>
		<key>defaultCountryName</key>
		<string>Congo (Dem. Rep.)</string>
		<key>phoneCode</key>
		<string>243</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CG</string>
		<key>defaultCountryName</key>
		<string>Congo (Rep.)</string>
		<key>phoneCode</key>
		<string>242</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GA</string>
		<key>defaultCountryName</key>
		<string>Gabon</string>
		<key>phoneCode</key>
		<string>241</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GQ</string>
		<key>defaultCountryName</key>
		<string>Equatorial Guinea</string>
		<key>phoneCode</key>
		<string>240</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ST</string>
		<key>defaultCountryName</key>
		<string>São Tomé &amp; Príncipe</string>
		<key>phoneCode</key>
		<string>239</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CV</string>
		<key>defaultCountryName</key>
		<string>Cape Verde</string>
		<key>phoneCode</key>
		<string>238</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CM</string>
		<key>defaultCountryName</key>
		<string>Cameroon</string>
		<key>phoneCode</key>
		<string>237</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CF</string>
		<key>defaultCountryName</key>
		<string>Central African Rep.</string>
		<key>phoneCode</key>
		<string>236</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TD</string>
		<key>defaultCountryName</key>
		<string>Chad</string>
		<key>phoneCode</key>
		<string>235</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NG</string>
		<key>defaultCountryName</key>
		<string>Nigeria</string>
		<key>phoneCode</key>
		<string>234</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GH</string>
		<key>defaultCountryName</key>
		<string>Ghana</string>
		<key>phoneCode</key>
		<string>233</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SL</string>
		<key>defaultCountryName</key>
		<string>Sierra Leone</string>
		<key>phoneCode</key>
		<string>232</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LR</string>
		<key>defaultCountryName</key>
		<string>Liberia</string>
		<key>phoneCode</key>
		<string>231</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MU</string>
		<key>defaultCountryName</key>
		<string>Mauritius</string>
		<key>phoneCode</key>
		<string>230</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BJ</string>
		<key>defaultCountryName</key>
		<string>Benin</string>
		<key>phoneCode</key>
		<string>229</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TG</string>
		<key>defaultCountryName</key>
		<string>Togo</string>
		<key>phoneCode</key>
		<string>228</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NE</string>
		<key>defaultCountryName</key>
		<string>Niger</string>
		<key>phoneCode</key>
		<string>227</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BF</string>
		<key>defaultCountryName</key>
		<string>Burkina Faso</string>
		<key>phoneCode</key>
		<string>226</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CI</string>
		<key>defaultCountryName</key>
		<string>Côte d`Ivoire</string>
		<key>phoneCode</key>
		<string>225</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GN</string>
		<key>defaultCountryName</key>
		<string>Guinea</string>
		<key>phoneCode</key>
		<string>224</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ML</string>
		<key>defaultCountryName</key>
		<string>Mali</string>
		<key>phoneCode</key>
		<string>223</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MR</string>
		<key>defaultCountryName</key>
		<string>Mauritania</string>
		<key>phoneCode</key>
		<string>222</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SN</string>
		<key>defaultCountryName</key>
		<string>Senegal</string>
		<key>phoneCode</key>
		<string>221</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GM</string>
		<key>defaultCountryName</key>
		<string>Gambia</string>
		<key>phoneCode</key>
		<string>220</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LY</string>
		<key>defaultCountryName</key>
		<string>Libya</string>
		<key>phoneCode</key>
		<string>218</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TN</string>
		<key>defaultCountryName</key>
		<string>Tunisia</string>
		<key>phoneCode</key>
		<string>216</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>DZ</string>
		<key>defaultCountryName</key>
		<string>Algeria</string>
		<key>phoneCode</key>
		<string>213</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MA</string>
		<key>defaultCountryName</key>
		<string>Morocco</string>
		<key>phoneCode</key>
		<string>212</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SS</string>
		<key>defaultCountryName</key>
		<string>South Sudan</string>
		<key>phoneCode</key>
		<string>211</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IR</string>
		<key>defaultCountryName</key>
		<string>Iran</string>
		<key>phoneCode</key>
		<string>98</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MM</string>
		<key>defaultCountryName</key>
		<string>Myanmar</string>
		<key>phoneCode</key>
		<string>95</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>LK</string>
		<key>defaultCountryName</key>
		<string>Sri Lanka</string>
		<key>phoneCode</key>
		<string>94</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AF</string>
		<key>defaultCountryName</key>
		<string>Afghanistan</string>
		<key>phoneCode</key>
		<string>93</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PK</string>
		<key>defaultCountryName</key>
		<string>Pakistan</string>
		<key>phoneCode</key>
		<string>92</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IN</string>
		<key>defaultCountryName</key>
		<string>India</string>
		<key>phoneCode</key>
		<string>91</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TR</string>
		<key>defaultCountryName</key>
		<string>Turkey</string>
		<key>phoneCode</key>
		<string>90</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CN</string>
		<key>defaultCountryName</key>
		<string>China</string>
		<key>phoneCode</key>
		<string>86</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>VN</string>
		<key>defaultCountryName</key>
		<string>Vietnam</string>
		<key>phoneCode</key>
		<string>84</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KR</string>
		<key>defaultCountryName</key>
		<string>South Korea</string>
		<key>phoneCode</key>
		<string>82</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>JP</string>
		<key>defaultCountryName</key>
		<string>Japan</string>
		<key>phoneCode</key>
		<string>81</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>TH</string>
		<key>defaultCountryName</key>
		<string>Thailand</string>
		<key>phoneCode</key>
		<string>66</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SG</string>
		<key>defaultCountryName</key>
		<string>Singapore</string>
		<key>phoneCode</key>
		<string>65</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NZ</string>
		<key>defaultCountryName</key>
		<string>New Zealand</string>
		<key>phoneCode</key>
		<string>64</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PH</string>
		<key>defaultCountryName</key>
		<string>Philippines</string>
		<key>phoneCode</key>
		<string>63</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ID</string>
		<key>defaultCountryName</key>
		<string>Indonesia</string>
		<key>phoneCode</key>
		<string>62</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AU</string>
		<key>defaultCountryName</key>
		<string>Australia</string>
		<key>phoneCode</key>
		<string>61</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MY</string>
		<key>defaultCountryName</key>
		<string>Malaysia</string>
		<key>phoneCode</key>
		<string>60</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>VE</string>
		<key>defaultCountryName</key>
		<string>Venezuela</string>
		<key>phoneCode</key>
		<string>58</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CO</string>
		<key>defaultCountryName</key>
		<string>Colombia</string>
		<key>phoneCode</key>
		<string>57</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CL</string>
		<key>defaultCountryName</key>
		<string>Chile</string>
		<key>phoneCode</key>
		<string>56</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BR</string>
		<key>defaultCountryName</key>
		<string>Brazil</string>
		<key>phoneCode</key>
		<string>55</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AR</string>
		<key>defaultCountryName</key>
		<string>Argentina</string>
		<key>phoneCode</key>
		<string>54</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CU</string>
		<key>defaultCountryName</key>
		<string>Cuba</string>
		<key>phoneCode</key>
		<string>53</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>MX</string>
		<key>defaultCountryName</key>
		<string>Mexico</string>
		<key>phoneCode</key>
		<string>52</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PE</string>
		<key>defaultCountryName</key>
		<string>Peru</string>
		<key>phoneCode</key>
		<string>51</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>DE</string>
		<key>defaultCountryName</key>
		<string>Germany</string>
		<key>phoneCode</key>
		<string>49</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PL</string>
		<key>defaultCountryName</key>
		<string>Poland</string>
		<key>phoneCode</key>
		<string>48</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NO</string>
		<key>defaultCountryName</key>
		<string>Norway</string>
		<key>phoneCode</key>
		<string>47</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>SE</string>
		<key>defaultCountryName</key>
		<string>Sweden</string>
		<key>phoneCode</key>
		<string>46</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>DK</string>
		<key>defaultCountryName</key>
		<string>Denmark</string>
		<key>phoneCode</key>
		<string>45</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GB</string>
		<key>defaultCountryName</key>
		<string>United Kingdom</string>
		<key>phoneCode</key>
		<string>44</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>AT</string>
		<key>defaultCountryName</key>
		<string>Austria</string>
		<key>phoneCode</key>
		<string>43</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CH</string>
		<key>defaultCountryName</key>
		<string>Switzerland</string>
		<key>phoneCode</key>
		<string>41</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>RO</string>
		<key>defaultCountryName</key>
		<string>Romania</string>
		<key>phoneCode</key>
		<string>40</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>IT</string>
		<key>defaultCountryName</key>
		<string>Italy</string>
		<key>phoneCode</key>
		<string>39</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>HU</string>
		<key>defaultCountryName</key>
		<string>Hungary</string>
		<key>phoneCode</key>
		<string>36</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ES</string>
		<key>defaultCountryName</key>
		<string>Spain</string>
		<key>phoneCode</key>
		<string>34</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>FR</string>
		<key>defaultCountryName</key>
		<string>France</string>
		<key>phoneCode</key>
		<string>33</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>BE</string>
		<key>defaultCountryName</key>
		<string>Belgium</string>
		<key>phoneCode</key>
		<string>32</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>NL</string>
		<key>defaultCountryName</key>
		<string>Netherlands</string>
		<key>phoneCode</key>
		<string>31</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>GR</string>
		<key>defaultCountryName</key>
		<string>Greece</string>
		<key>phoneCode</key>
		<string>30</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>ZA</string>
		<key>defaultCountryName</key>
		<string>South Africa</string>
		<key>phoneCode</key>
		<string>27</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>EG</string>
		<key>defaultCountryName</key>
		<string>Egypt</string>
		<key>phoneCode</key>
		<string>20</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>RU</string>
		<key>defaultCountryName</key>
		<string>Russian Federation</string>
		<key>phoneCode</key>
		<string>7</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>KZ</string>
		<key>defaultCountryName</key>
		<string>Kazakhstan</string>
		<key>phoneCode</key>
		<string>7</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>US</string>
		<key>defaultCountryName</key>
		<string>USA</string>
		<key>phoneCode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>PR</string>
		<key>defaultCountryName</key>
		<string>Puerto Rico</string>
		<key>phoneCode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>DO</string>
		<key>defaultCountryName</key>
		<string>Dominican Rep.</string>
		<key>phoneCode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>CA</string>
		<key>defaultCountryName</key>
		<string>Canada</string>
		<key>phoneCode</key>
		<string>1</string>
	</dict>
</array>
</plist>
